// fonts
@font-face {
    font-family: 'Stainless';
    font-style: normal;
    font-weight: normal;
    src: local('Stainless'), url('../fonts/Stainless.woff') format('woff');
}

@font-face {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 400;
    src: local('Proxima Nova'), url('../fonts/ProximaNovaRegular.woff') format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}


@font-face {
    font-family: 'Proxima Nova Light';
    font-style: normal;
    font-weight: 300;
    src: local('Proxima Nova'), url('../fonts/proximanova-light-webfont.woff') format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
    font-family: 'Proxima Nova Bold';
    font-style: normal;
    font-weight: 700;
    src: local('Proxima Nova'), url('../fonts/proximanovacond-semibold-webfont.woff') format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
    font-family: 'Proxima Nova Thin';
    font-style: normal;
    font-weight: 700;
    src: local('Proxima Nova'), url('../fonts/proximanovat-thin-webfont.woff') format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
// /fonts

// variables
$white: #FFF;
$black: #000;
$main-blue: #080b1a;
$main-red: #c92127;
$main-green: #509c20;
$main-grey: #c1c1c1;
// /variables

// general
body {
    font-family: 'Proxima Nova';
    &.no-scroll {
        overflow: hidden;
    }
}
a, .button {
    transition: all 0.5s;
}
h1 {
    @media (max-width: 767px) {
        font-size: 24px !important;
    }
}
.button {
    background: transparent;
    padding: 0px 20px;
    color:#a29a9a;
    font-size: 21px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.45);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.45);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.45);
    border: 1px solid rgb(203, 203, 211);
    @media (max-width: 660px) {
        font-size: 15px;
    }
    &:hover {
            margin-top: 3px;
        -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
    }
    &:focus {
        outline: none;
    }
}
.button-more {
    background: transparent;
    padding: 0px 12px;
    color:#434343;
    font-size: 16px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
    border: 1px solid #434343;
    @media (max-width: 991px) {
    margin: 10px 0;
}

    &:hover {
        -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
        -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
        margin-top: 1px;
        @media (max-width: 991px) {
            margin: 10px 0;

        }
    }
    &:focus {
        outline: none;
    }
}
.more-button {
    display: inline-block;
    margin: 40px 0;
    font-size: 18px;
    font-weight: 700;
}
.modal {
    z-index: 9999999;

    .modal-body {
        padding: 0 40px 30px;
    }
    .buttons-area {
        float: left;
        width: 100%;

        .button {
            float: left !important;
            width: 100%;
            margin: 0 !important;
            border-radius: 5px;
            box-shadow: none;
        }
        .button-close {
            background: #9d9d9d;

            &:hover {
                background: darken(#9d9d9d, 10);
            }
        }
    }
}
.modal-backdrop {
    z-index: 999999;
}
.modal-backdrop.in {
    filter: alpha(opacity=80);
    opacity: .8;
}
// /general

// navbar
header{
    background-image: url(../img/n1.jpg);
    background-size: cover;
    height:750px;

    @media (max-width: 1375px) {
        height: 650px;
    }
    @media (max-width: 992px) {
        height: 580px;
    }
    @media (max-width: 660px) {
        height: 400px;
    }
}
nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999999;
    padding: 10px 20px;
    font-size: 0;
    transition: all 0.5s;

    @media (max-width: 992px) {
        display: flex;
        align-items: center;
    }
    @media (min-width: 992px) {
        margin-top: 30px;
        padding: 0 50px;
    }

    &.page-nav {
        background: rgba($white, 0.9);
        margin-top: 0;
        -webkit-box-shadow: 0px 1px 20px 0px rgba(0,0,0,0.5);
        -moz-box-shadow: 0px 1px 20px 0px rgba(0,0,0,0.5);
        box-shadow: 0px 1px 20px 0px rgba(0,0,0,0.5);
    }

    .brand-area {
        display: flex;
        justify-content: center;
        align-items: center;
        a{
            text-align: center;
        }
        &.page-brand-area {

            width: 200px;
            margin: 10px 0;
            display: inline-block;
        }
        label{
            @media (max-width: 992px) {
            position: absolute;
            right: 56px;
            padding: 5px;
        }
        &:after {
            content: '\276c';
            display: inline-block;
            box-sizing: border-box;
            color: red;
            background-color: transparent;
            border: none;
            margin-left: -15px; /* remove the damn :after space */
            pointer-events: none; /* let the click pass trough */
            font-size: 16px;
            transform: rotate(-90deg);
            float: right;

            @media (max-width: 992px) {
                top:0;}
        }
            .selectpicker1{
                color: #696666;
                border: none;
                background: transparent;
                outline: none;
                font-size: 16px;
                -webkit-appearance: none;
                -moz-appearance: none;
                -o-appearance: none;
                appearance: none;
                padding:0 15px;
                position: relative;
                font-weight: 300;
                z-index: 99999;
             option{
                    background: #060b20;
                }

            }
        }

        .main-logo {
            width: 500px;

            @media (max-width: 992px) {
                width: 330px;
                position: absolute;
                z-index: 9999999999;
                top:20px;
            }
            @media (max-width: 511px) {
                width: 260px;

            }
            @media (max-width: 460px) {
                width: 150px;
                left: 10px;
            }
        }
    }
    .mobile-nav-button {
        margin-left: auto;
        z-index: 9999999;

        @media (min-width: 992px) {
            display: none !important;
        }

        .mobile-nav-trigger {
            padding: 0 0 5px;
            color: $white;
            font-size: 35px;

            i {
                vertical-align: middle;
            }
        }
        .page-nav-trigger {
            @extend .mobile-nav-trigger;
            color: $main-red;
        }
    }
    .main-navbar {
        @media (max-width: 992px) {
            display: none;
            overflow-y: scroll;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 999999;
            background: $main-blue;
            width: 100vw;
            height: 100vh;
        }
        @media (min-width: 992px) {
            text-align: center;
            display: block !important;
            position: relative;
        }
        .hr-navbarMenu{
            position: absolute;

            @media (min-width: 992px) {
                position: absolute;
                top: 60%;
                width: 81%;
                transform: translate(-50%, -50%);
                left: 50%;
                max-width: 1050px;
            }
        }
        ul {
            margin-top: 110px;
            padding: 0;
            list-style: none;

            @media (min-width: 992px) {
                margin: 0;

            }

            li,a {
                display: block;
                text-align: center;
                margin: 2px 0;
                transition: none !important;

                @media (min-width: 992px) {
                    display: inline-block;
                    margin: 0;
                }
            }
            a {
                padding: 10px;
                color: #828080;
                background: rgba($white, .02);
                font-size: 18px;

                &.active {
                    border-bottom: 2px solid $white;
                    color: $white;

                    @media (max-width: 992px) {
                        background: rgba($white, .45);
                        border-bottom: none;

                    }

                    &:hover {
                        border-bottom: 2px solid $white;
                        color: $white;

                        @media (max-width: 992px) {
                            background: rgba($white, .45);
                            border-bottom: none;
                        }
                    }
                }

                @media (min-width: 992px) {
                    font-size: 12px;
                    padding: 15px 10px;
                    background: none;

                }

                @media (min-width: 1200px) {
                    font-size: 15px;
                    padding: 15px;
                }

                &:hover {
                    text-decoration: none;
                    border-bottom: 2px solid $white;
                    color: $white;


                    @media (max-width: 992px) {
                        background: rgba($white, .45);
                        text-decoration: none;
                        border-bottom: none;


                    }
                }
            }

            &.page-nav-ul {
                margin-top: 110px;

                @media (min-width: 992px) {
                    margin: 20px 0;
                }

                li {
                    a {
                        color: $white;
                        background: rgba($white, .45);

                        &.active {
                            border-bottom: 2px solid $white;

                            @media (min-width: 992px) {
                                background: none;
                                color: $main-red;
                            }
                        }
                        &:hover {
                            background: rgba($white, 0.3);

                            @media (min-width: 992px) {
                                background: none;
                                color: $main-red;
                            }
                        }

                        @media (min-width: 992px) {
                            color: #494949;
                            font-weight: 700;
                            font-size: 12px;
                            padding: 15px 8px;
                            background: none;
                        }

                        @media (min-width: 1200px) {
                            font-size: 14px;
                            padding: 15px;
                        }

                        @media (min-width: 1400px) {
                            font-size: 16px;
                            padding: 15px;
                        }
                    }
                }
            }
        }
    }
}
// /navbar
.homepage-slider {

    margin-top: 230px;
    @media (max-width: 992px) {
        margin-top:100px;
    }
    @media (max-width: 660px) {
        margin-top:75px;
    }

 .item{
      text-align: right;
     @media (max-width: 660px) {
         text-align:center;
     }
.col-md-6{
    @media (min-width: 560px) {
        padding:0 50px;

    }


  h1{
      color: #fff;
      width:100%;
      @media (max-width: 992px) {
          font-size: 25px;
      }
      @media (max-width: 660px) {
          font-size: 20px;
      }
  }
    h3{
        width:100%;
        font-size: 28px;
        @media (max-width: 992px) {
            font-size: 20px;
        }
        @media (max-width: 660px) {
            font-size: 15px;
        }
            }
     img{
         min-width: 120px;
         margin: 0 auto;
         @media (max-width: 992px) {
             margin: 0 auto;
             width: 50%;
         }
         @media (max-width: 660px) {
             width: 30%;
         }
     }

         }
      }



    .owl-prev {
        left:0;
        top: 50%;
        position: absolute;
        color: #fff;
        background: rgba(255, 255, 255, 0.19);
        padding:1px 10px 0px 10px;
        border-radius: 80px;
        font-size: 18px;
        &:hover{
            color: red;
        }
    }
    .owl-next {
        right: 0;
        top: 50%;
        position: absolute;
        color: #fff;
        background: rgba(255, 255, 255, 0.19);
        padding: 1px 8px 0px 11px;
        border-radius: 80px;
        font-size: 18px;
        &:hover{
            color: red;
        }

    }
}
.first {
    background-image: url(../img/n2.jpg);
    background-size: cover;
    background-position: center;

    .content{
        background-image: -moz-linear-gradient( 180deg, rgb(217,217,217) 0%, rgb(255,255,255) 50%, rgb(217,217,217) 100%);
        background-image: -webkit-linear-gradient( 180deg, rgb(217,217,217) 0%, rgb(255,255,255) 50%, rgb(217,217,217) 100%);
        background-image: -ms-linear-gradient( 180deg, rgb(217,217,217) 0%, rgb(255,255,255) 50%, rgb(217,217,217) 100%);
        box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.15);
        padding:15px;
        position: relative;
        top:-45px;
        h1{
            border-bottom: 1px solid;
            font-size: 29px;
            border-bottom: 1px solid;
            margin: 0 0 14px 0;
        }
    p{
        color: #434343;
    }
        img{
            width:100%;
            @media (max-width: 1200px) {
                height:306px;
                object-fit: cover;

            }

        }
    }
    .slide2{
        height: 420px;

}
}
.ninth-section-carousel{
    .owl-dots{
        position: absolute;
        right: 0px;
        top: -35px;
        transition: all 0.5s!important;
        margin-top: 0;

        @media (max-width: 770px) {

        }

  .owl-dot{
      margin: 0 0 15px 0;
      display:block;
      border-radius: 60px;
      transition: all 0.5s;
      width: 40px;
      height: 40px;


      &:hover{
    background: rgba(0, 0, 0, 0.64);
    padding-right: 258px;
    border-radius: 60px;
}

      span{
          width:35px;
          height:35px;
          background: transparent!important;
      }
  }
}
.myclass{
    font-size: 15px;
    position: absolute;
    right: 50px;
    color: #fff;
    margin-top: 10px;
    width: 197px;
    text-transform: capitalize;
}
.myclass1{
    background: #fff;
    font-size: 16px;
    position: absolute;
    right: 0px;
    color: #000;
    margin-top: 0px;
    width: 40px;
    height: 40px;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border:2px solid;
}
    .owl-dot span::after {
        content: "";
        transition: opacity 2s;
        opacity: 0;
    }
    .owl-dot:hover span::after {
        opacity: 1;
    }

    .owl-dot:hover::after {
        @extend .myclass;
    }

.owl-dot:first-child:hover span::after {
    content: "Application and Softwere" ;
    @extend .myclass;
}

.owl-dot:first-child span::before {
    content: "1";
    @extend .myclass1;
}
.owl-dot:nth-child(2):hover span::after {
    content: "Web Creation" ;
    @extend .myclass;
}
.owl-dot:nth-child(2) span::before {
    content: "2";
    @extend .myclass1;

}
.owl-dot:nth-child(3):hover span::after {
    content: "Search Engine Optimisation" ;
    @extend .myclass;
}

.owl-dot:nth-child(3) span::before {
    content: "3";
    @extend .myclass1;

}
.owl-dot:nth-child(4):hover span::after {
    @extend .myclass;
    content: "Web hosting" ;
}

.owl-dot:nth-child(4) span::before {
    content: "4";
    @extend .myclass1;
}
.owl-dot:nth-child(5):hover span::after {
    content: "Security, Sistem, Network" ;
    @extend .myclass;

}

.owl-dot:nth-child(5) span::before {
    content: "5";
    @extend .myclass1;

}
.owl-dot:nth-child(6):hover span::after {
    content: "VOIP Telephone and Callface" ;
    @extend .myclass;
}

.owl-dot:nth-child(6) span::before {
    content: "6";
    @extend .myclass1;
}
.owl-dot:nth-child(7):hover span::after {
    content: "Security access" ;
    @extend .myclass;
}

.owl-dot:nth-child(7) span::before {
    content: "7";
    @extend .myclass1;
}
.owl-dot:nth-child(8):hover span::after {
    content: "Controll and allarm" ;
    @extend .myclass;
}

.owl-dot:nth-child(8) span::before {
    content: "8";
    @extend .myclass1;
}
  .owl-dot span::before {
    background: #fff;
    color: #000;
    border-radius: 60px;
    border:2px solid;
  }
  .owl-dot:hover span::before {
    background: transparent;
    color:#fff;
    border-color: transparent;
  }
.item{
    a{
        color:red;
    }
    h3{
        margin-bottom: 30px;
        border-bottom: 1px solid;
        width:40%;
        color:#6d6a6a;;
        @media (max-width: 470px) {
            width:60%;
            font-size: 20px;

        }
    }
    h4{
        font-weight: 700;
        @media (max-width: 470px) {
        font-size: 18px;
        }
    }
    p{
        width: 72%;
        @media (max-width: 470px) {
            width:83%;

        }
    }
    img{
        width:158px;
        @media (max-width: 470px) {
            width:120px;

        }
    }

}
}

.second {
    background-image: url(../img/partner-fon.png);
    background-size: cover;
    background-position: center;
    height:280px;
    .slide-partners{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
        .our-partners-slide{
            margin-bottom: 20px;
            h3{
                color:white;
            }
            hr{
                max-width: 300px;
            }
        }

    .site-second-carousel{

    .item{
        img{
            width:60%;
            margin:0 auto;
            @media (max-width: 599px) {
                width:40%;

            }
        }
     }
        .owl-prev{
            background: rgba(239, 231, 231, 0.16);
            font-size: 16px;
            border-radius: 66px;
            position: absolute;
            padding: 0 8px;
            left: 0;
            top: 50px;
        }
        .owl-next{
            right:0;
            background: rgba(239, 231, 231, 0.16);
            font-size: 16px;
            border-radius: 66px;
            position: absolute;
            padding: 0 8px;
            top: 50px;
        }
    }
    }
.our-team{
    padding: 35px 0;

    .row{
        margin: 15px 0;
        h3{
            color:#8e8b8b;
        }

    img{
        margin: 0 auto;
        border: 2px solid #948b8b;
    }
    }

}
.footer-shadow{
    -webkit-box-shadow:inset 0px 9px 21px 0px rgba(0, 0, 0, 0.13);
    -moz-box-shadow:inset 0px 9px 21px 0px rgba(0, 0, 0, 0.13);
    box-shadow:inset 0px 9px 21px 0px rgba(0, 0, 0, 0.13);
}
.footer{
    .contacts{
    background: #0e0b17;
    text-align: center;
    h3{
        color: #8e8b8b;
        margin: 15px 0;
        }
    }
  .information{
    padding: 20px 0;
    ul{
      padding: 0;
    li {
      list-style-type: none;
      a{

      color:#8e8b8b;
      cursor: pointer;
    }
      &:before {
        content: ".";
        font-size: 60px;
        line-height: 5px;
        margin-right: 10px;
      }
    }
    }
    .mail{
      input{
        background: #0e0b17;
        color:#eee;
        float: left;
        border:none;
        height: 40px;
        width:75%;
        padding: 0 15px;
        outline:none;
        border-top-left-radius: 4px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
      }
      button{
        background: #3c3947;
        color: #fff;
        border:none;
        width:25%;
        height:40px;
        outline:none;
        border-top-right-radius: 4px;
      }
      form{
        textarea{
        line-height: 2em;
        resize: none;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        padding-top: 50px;
        text-align: center;
        height: 140px;
        }
      }
    }
    .social{
      img{
        width:120px;
        margin:10px 0;
      }
    }
    .fa-phone{
        color: red;
    &:before {
        content: "\f095";
        border: 2px solid red;
        padding: 2px 4px;
        border-radius: 60px;
        }
    }
    p{
      margin:0;
      font-size: 14px;
      line-height: 20px;
      color: #8e8b8b;
        span{
            color: red;
          .fa-envelope-o,.fa-map-marker{
            font-size: 24px;
            width: 25px;
            text-align: center;
          }
        }
    }
}
}
.footer-logo{
  padding:15px;
  img{
    max-width: 75%;
  }
  p{
    font-size:12px;
    color: #8e8b8b;
    margin-top: 25px;
    margin-bottom: 0;
  }
}
.scrolloff{
    pointer-events: none;
}
.canvas_wrapper{
    height: 2000px;
}
#canvas{
    background-color: red;
    margin-top: 500px;
}
#map_canvas{
    height:200px;
    width:100%;
}
//HOME-PAGE CSS END

.secondPage {
    position: fixed;
    width: 100%;
    top:0;
    z-index: 999;
    header {
        transition: all 0.3s;
        height:200px;
        @media (max-width: 991px) {
           height: 100px;

        }
        .nav{
            padding:0;
            position: absolute;
            transform: translate(-50%,-50%);
            left: 50%;
            top: 26%;
            a img {
            position: absolute;
            left: 30px;
            width: 50px;
            z-index: 999999999;
            top: 15px;
        }
        .brand-area {
          float: right;
            label::after {
                top: 0;
                float: right;
                position: relative;
                z-index: 99999;
            }
        }
    }
}

}

.tabs{
    background-image: url(../img/3.png);
    background-size: cover;
    background-position: center;
    margin-top: 200px;
    padding-bottom: 150px;
    @media (max-width:991px) {
        margin-top: 100px;
    }
    .container{
        .tab-content {
            #menu1, #menu2, #menu3, #menu4, #menu5, #menu6 {
                border: 1px solid #ddd;
                overflow: hidden;
                border-top: none;
                -webkit-box-shadow: inset 0px -4px 5px 0px rgba(0, 0, 0, 0.15);
                -moz-box-shadow: inset 0px -4px 5px 0px rgba(0, 0, 0, 0.15);
                box-shadow: inset 0px -4px 5px 0px rgba(0, 0, 0, 0.15);
                box-shadow: 0px 10px 28px 3px rgba(0, 0, 0, 0.23);
                border-bottom-left-radius: 15px;
                border-bottom-right-radius: 15px;

            }
            #menu1 {
                .menuback {
                    background-image: url(../img/1.jpg);
                    background-size: cover;
                    background-position: center;
                    @media (min-width: 767px) {
                        padding: 50px 20px;
                    }
                    p {
                        padding: 10px;
                        font-style: italic;
                        @media (min-width: 767px) {
                            width: 70%;
                        }
                    }

                }
                .row {
                    background: #080b1a;
                    text-align: center;
                    h3 {
                        background: #1d1c28;
                        color: #fff;
                        display: inline-block;
                        margin: 0;
                        padding: 10px 70px;
                        position: relative;
                        @media (min-width: 991px) {
                            margin-left: 190px;
                        }
                        @media(min-width: 425px) {
                            &::before {
                                content: '';
                                width: 0px;
                                height: 0px;
                                border-style: solid;
                                border-width: 15px 15px 15px 0;
                                border-color: transparent #1d1c28 transparent transparent;
                                display: inline-block;
                                vertical-align: middle;
                                margin-right: 5px;
                                transform: rotate(270deg);
                                position: absolute;
                                top: 38px;
                                z-index: 99;
                                right: 50%;
                            }
                        }
                    }
                    .buttonFacebook {
                        float: right;
                        padding: 12px;
                        display: inline-block;
                        .td-social-facebook {
                            text-decoration: none;
                            background-color: #516eab;
                            font-size: 11px;
                            color: #fff;
                            -webkit-border-radius: 2px;
                            -moz-border-radius: 2px;
                            border-radius: 2px;
                            padding: 5px 10px;
                            margin-right: 10px;
                            height: 40px;
                            min-width: 40px;
                            text-align: center;
                            .td-icon-facebook {
                                font-size: 14px;
                                position: relative;
                                top: 0;
                                &:before {
                                    content: 'f';
                                    font-style: normal;
                                    text-decoration: none;
                                }
                            }
                            .td-social-but-text {
                                border-left: 1px solid rgba(255, 255, 255, 0.1);
                                display: inline-block;
                                position: relative;
                                top: 0px;
                                line-height: 20px;
                                padding-left: 5px;
                                margin-left: 5px;
                            }
                        }
                    }
                }
                .footer-tab {
                    .foot-text {
                        padding: 20px;
                        p {
                            margin: 10px 0;
                            font-style: italic;
                            span {
                                background: #f84049;
                                padding: 3px 3px 3px 7px;
                                border-radius: 69px;
                                color: #fff;
                                margin: 10px;
                            }
                        }
                    }

                    .footimg {
                        padding: 0;
                        img {
                            width: 100%;
                        }

                    }
                }
            }
            #menu2{

                .col-text{
                    @media (min-width: 767px) {
                        padding: 50px 20px;
                    }
                    p {
                        padding: 10px;
                        text-align: justify;
                        font-style: italic;

                }
                }
                    .col-md-12{
                        padding:0;
                        .text-onImg{
                            position: absolute;
                            top:0px;
                            background: rgba(0, 0, 0, 0.59);
                            width: 100%;
                        p{
                            margin: 10px;
                            color: #fff;
                            font-style: italic;
                            @media (max-width:470px) {
                                font-size: 10px;
                            }
                            span{
                                color: red;
                            }

                        }
                        }
                    img{
                        width: 100%;
                        min-height: 160px;

                    }
                    }


            }
            #menu3{
                .menuback3 {
                    background-image: url(../img/11.png);
                    background-size: cover;
                    background-position: center;
                    @media (min-width: 767px) {
                        padding: 50px 20px;
                    }
                    p {
                        padding: 10px;
                        font-style: italic;
                        @media (min-width: 767px) {
                            width: 70%;
                        }
                    }

                }
                .menubackarrow{
                background: #eee;
                    @media (min-width: 767px) {
                        padding: 50px 20px;
                    }
                    div {
                            clear: both;
                        p {
                            margin: 0;
                            padding: 10px;
                            font-style: italic;
                        }
                        span {
                            color: red;
                            font-size: 50px;
                            float: left;
                            margin: 0 10px;
                        }
                    }
                }
            }
            #menu4{
                .row{
                    .img-col img{
                        width: 100%;
                    }
                    .col-text{
                        @media (min-width: 767px) {
                            padding: 50px 20px;
                        }
                        p {
                            padding: 40px;
                            background: #f3f1f1;
                            border-radius: 10px;
                            margin: 20px;
                            font-style: italic;
                            @media (max-width:470px) {
                                padding: 10px;
                            }
                        }
                    }

                }
            }
            #menu5{
                .col-text{
                    @media (min-width: 767px) {
                        padding: 50px 20px;
                    }
                    h3{
                        font-size: 22px;
                        margin: 0;
                        padding: 10px;
                        font-style: italic;
                        @media (max-width:470px) {
                            font-size: 16px;
                        }

                    }
                    p {
                        padding: 10px;
                        text-align: justify;
                        font-style: italic;

                    }
                }
                .col-md-12{
                    padding:0;
                    img{
                        width: 100%;
                        min-height: 160px;

                    }
                }

            }
            #menu6{
                .menuback {
                    @media (min-width: 767px) {
                        padding: 50px 20px;
                    }
                    p {
                        padding: 10px;
                        font-style: italic;
                        @media (min-width: 767px) {
                            width: 70%;
                        }
                    }

                }
                h3{
                    color: #f84049;
                    font-style: italic;
                    padding: 0 10px;
                    @media (max-width:470px) {
                        font-size: 20px;
                    }
                }
                .footer-tab {
                        p {
                            padding:0;
                            margin: 10px 0;
                            font-style: italic;
                            span {
                                background: #f84049;
                                padding: 3px 3px 3px 7px;
                                border-radius: 69px;
                                color: #fff;
                                margin: 10px;
                            }
                        }

                    .footimg {
                        padding: 0;
                        img {
                            width: 100%;
                        }

                    }
                }
                .voiceCalls{
                    padding: 10px 0;
                p{
                    padding:0;
                    font-style: italic;

                }
               }
                .phone-img img{
                    width: 100%;
                }
            }
        }
        .nav-tabs>li.active{
            i{
                display: block;
            }
            a{
                -webkit-box-shadow: inset 0px 4px 5px 0px rgba(0,0,0,0.15);
                -moz-box-shadow: inset 0px 4px 5px 0px rgba(0,0,0,0.15);
                box-shadow: inset 0px 4px 5px 0px rgba(0,0,0,0.15);
            }
        }
        .nav-tabs>li.active>a>p, .nav-tabs>li.active>a>p:focus, .nav-tabs>li.active>a>p:hover{
            background: black;
            border-radius: 66px;
            width: 40px;
            height: 40px;
            align-items: center;
            color: #fff;
            margin: 10px auto;
            padding: 10px;

        }
        .nav-tabs>li.active>a>span, .nav-tabs>li.active>a>span:focus, .nav-tabs>li.active>a>span:hover {
            color:#000;
            font-size: 13px;
            display: block;
            @media (max-width: 1200px) {
                    font-size: 10px;
            }
            @media (max-width: 991px) {
                font-size: 9px;
            }
            @media (max-width: 767px) {
                font-size: 12px;
            }
        }
            .test1{
        padding: 0;
        margin: 80px 0 0 0;
        li{

            padding: 0;
            a{
               text-align: center;
                margin:0;
                height: 115px;
                border-top-right-radius: 10px;
                border-top-left-radius: 10px;
                i{
                    display: none;
                    color: #7f7878;
                    font-size: 22px;
                    font-weight: 300;
                }
                p{
                    background: #b6b6b6;
                    color: #fff;
                    border-radius: 66px;
                    width: 40px;
                    height: 40px;
                    align-items: center;
                    margin: 10px auto;
                    padding: 10px;

                }
                span{
                    display: block;
                    color:#b6b6b6;
                    font-size: 13px;
                    @media (max-width: 1200px) {
                        font-size: 10px;
                    }
                    @media (max-width: 991px) {
                        font-size: 9px;
                    }
                    @media (max-width: 767px) {
                        font-size: 12px;
                    }
                }
            }
        }
      }
    }
}
.contactPage{
    margin-top: 250px;
    @media (max-width:991px) {
        margin-top: 150px;
    }
}
.partners{
    margin-top: 200px;
    @media (max-width:991px) {
        margin-top: 100px;
    }
    .our-team{
        -webkit-box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.13);
        -moz-box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.13);
        box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.13);
        padding:20px;
        .col-lg-3{
            img{
                width:100%;
                max-width: 292px;
                max-height: 150px;
            }
            h3{
                font-size: 22px;
                margin: 10px;
                color: #000;
                @media (max-width: 470px) {
                    font-size: 20px;
                }

            }
            .footer-tab {
                width:250px;
                margin: 0 auto;
                p {
                    padding: 0;
                    margin: 3px;
                    font-style: italic;
                    font-size: 14px;
                    text-align: justify;
                    @media (max-width: 470px) {
                        font-size: 12px;
                    }
                    span {
                        color: #f84049;
                        margin: 10px;
                        font-weight: 700;
                    }
                }
            }

        }
    }

}
.adducation {
    margin-top: 200px;
    @media (max-width: 991px) {
        margin-top: 100px;
    }
    .info {
        background: #e1e1e1;
        padding: 50px 0;
        .form-col-wrapper {
            padding: 0;
        .form-input-group-m1 {
            margin-bottom: 0;
          > div {
                padding-left: 0;
                padding-right: 0;
            }

           .form-input-addon label {
                width: 100%;
                text-align: left;
                color: #333;
                background-color: transparent;
                border: 1px solid transparent;
                -moz-border-radius: 0;
                -ms-border-radius: 0;
                font-weight: 300;

               @media (min-width: 768px) {
                    padding: 7px;
                    color: #FFFFFF;
                    background-color: #0c112b;
                    border: 1px solid #0c112b;
                    height: 34px;
                    font-weight: 300;
                    overflow: hidden;
                    font-style: italic;
                    font-size: 13px;

                   &::before {
                        content: '';
                        width: 0px;
                        height: 0px;
                        border-style: solid;
                        border-width: 16px 20px 16px 0;
                        border-color: transparent #0c112b transparent transparent;
                        display: inline-block;
                        vertical-align: middle;
                        transform: rotate(180deg);
                        position: absolute;
                        top: 1px;
                        z-index: 99;
                        right: -3px;
                        background: #fcf5f5;
                    }
                }

            }

            .form-control {
                display: block;
                width: 100%;
                height: 34px;
                padding: 6px 12px;
                font-size: 14px;
                line-height: 1.42857143;
                color: #555;
                background-color: #fff;
                background-image: none;
                border: 1px solid #0c112b;
                border-radius: 0;
                -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
                box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
                -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
                -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
                transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
            }
        }
    }
        .chekboxes{
            @media (max-width: 992px) {
               margin-top: 15px;}
        h5{
            color: #fff;
            background: #0c112b;
            margin: 0;
            padding: 9px;
            text-align: center;
            font-size: 15px;
        }
        }
        .text-content{
            border:1px solid #0c112b;
            height:217px;
            padding:10px;


        }
        //checkbox styles
        .checkbox label:after{
            content: '';
            display: table;
            clear: both;
        }

        .checkbox .cr{
            position: relative;
            display: inline-block;
            border: 1px solid #a9a9a9;
            border-radius: .25em;
            width: 1.3em;
            height: 1.3em;
            float: left;
            margin-right: .5em;
        }

        .checkbox .cr .cr-icon{
            position: absolute;
            font-size: .8em;
            line-height: 0;
            top: 50%;
            left: 20%;
        }
        .checkbox label input[type="checkbox"]{
            display: none;
        }

        .checkbox label input[type="checkbox"] + .cr > .cr-icon{
            transform: scale(3) rotateZ(-20deg);
            opacity: 0;
            transition: all .3s ease-in;
        }

        .checkbox label input[type="checkbox"]:checked + .cr > .cr-icon{
            transform: scale(1) rotateZ(0deg);
            opacity: 1;
        }
        .checkbox label
        {
            padding-left:10px;
            padding-bottom: 16px;
            padding-right:10px;
            display: block;
            @media (max-width: 470px) {
                font-size: 12px;}
        }
        .checkbox
        {
            margin-bottom: 0;
            margin-top: 0;
            background: #fff;
        }

        //checkbox styles
    }
    .send-mail{
        background-image: url(../img/Business-Pages-Cover.png);
        background-position: center;
        display: flex;
        justify-content:center;
        align-items: center;
        .mail{
            text-align: center;
            padding:80px 0;
            .form-group{
                textarea{
                    height: 150px;
                    resize: none;
                    min-width: 250px;
                    padding: 63px 0;
                    text-align: center;
                    border-top: 1px solid;
                    border-left: 1px solid;
                    font-style: italic;
                    border-radius: 0;
                }
            }
            button{
                font-style: italic;
                color: #fff;
                background: #0c112b;
                padding: 5px 45px;
                outline: none;
                -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.45);
                -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.45);
                box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.45);
                transition:all 0.5s;
                border:none;
                &:hover {
                 margin-top: 3px;
                 -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
                 -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
                 box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
             }
            }
        }
    }
}



.about{
    margin-top: 200px;
    padding:80px 0;
    @media (max-width: 991px) {
        margin-top: 100px;
    }
    .container{
        padding:15px;
        -webkit-box-shadow: 0px 0 21px 0px rgba(0, 0, 0, 0.13);
        -moz-box-shadow: 0px 0 21px 0px rgba(0, 0, 0, 0.13);
        box-shadow: 0px 0 21px 0px rgba(0, 0, 0, 0.13);
    .section-box-inner{
        .cover-image-area{
            img{
                width: 100%;
            }
        }
        h2{
            @media (max-width: 470px) {
                font-size:20px;}
        }
        p{
            text-align: justify;
        }
    }
}
.reqruipment {
    margin-top: 200px;
    @media (max-width: 991px) {
        margin-top: 100px;
    }
}
}