.square,
.square2,
.square3,
.square4{
    width: 100px;
    height:100px;
    border:1px solid;
    background-image: url("images/4.jpg");
    background-size: cover;
    display: inline-block;
    margin: 20px;
}
.square:hover ~ .square2{
    height: 150px;
    transform:rotate(40deg);
    transition: all 1s;

}
.square:hover ~ .square3{
    width: 150px;
    transform:rotate(30deg);
    transition: all 1s;

}
.square:hover {
    opacity: 0.4;
}

.square4:hover ~ .square3{
    height: 200px;
    transition: all 1s;

}
.square4:hover ~ .square2
{
    height: 150px;
    transition: all 1s;

}

.square4:hover{
    height: 250px;
    transition: all 1s;

}


.content1
{
    display: inline-block;
    width:100px;
    height:100px;
    background: green;
    margin:20px;
    border:1px solid black;
}
.content2
{
    display: inline-block;
    width:100px;
    height:100px;
    background: red;
    margin:20px;
    border:1px solid black;
}
.content3
{
    display: inline-block;
    width:100px;
    height:100px;
    background: yellowgreen;
    margin:20px;
    border:1px solid black;
}
.button{
    padding: 7px 13px;
    border-radius: 11%;
    background: #eee;

}

.bat1{
    display: inline-block;
}
.my-class
{
    animation: mymove 1s infinite;
    background-color: orange;
    display: inline-block;
    width:100px;
    height:100px;
    margin:20px;
    border:1px solid black;
}

@keyframes mymove{
    from { transform: rotate(0deg); }
    to { transform: rotate(3600deg); }
}
.my-class1
{
    animation: mymove 1s infinite;
    background-color: SILVER;
    display: inline-block;
    width:100px;
    height:100px;
    margin:20px;
    border:1px solid black;
}

.my-class2 {
    animation: mymove 1s infinite;
    background-color: YELLOW;
    display: inline-block;
    width:100px;
    height:100px;
    margin:20px;
    border:1px solid black;
}

#container
{
    border:1px solid;
    width:450px;
    height:150px;
    margin: 0 auto;
}
