.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.red{
  background-color: red;
  width: 80px;
  height: 80px;
  border:1px solid;
  display: inline-block;
  margin: 20px;
  color:#fff;
  border-radius: 15px;
}


.green{
  background-color: green;
  width: 80px;
  height: 80px;
  border:1px solid;
  display: inline-block;
  margin: 20px;
  color:#fff;
  border-radius: 15px;
}

.blue{
  background-color: blue;
  width: 80px;
  height: 80px;
  border:1px solid;
  display: inline-block;
  margin: 20px;
  color:#fff;
  border-radius: 15px;
}

button{
  padding:6px 10px;
  display: inline-block;
  margin: 20px 30px;
  border-radius: 15px;
  color: #fff;
  outline: none;
  border:1px solid black;
  background-color: #585656;
}
.my-class
{
  transform: rotate(3600deg);
  transition-duration: 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  width: 5px;
  height: 5px;
  background-color:yellow;
  display: inline-block;
  border-radius:50%;
  outline: none;
  color:#fff;
}
.my-class1
{
  transform: rotate(3600deg);
  transition-duration: 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  width: 5px;
  height: 5px;
  background: orange;
  display: inline-block;
  border-radius:50%;
  outline: none;
  color:#fff;
}
.my-class2
 {
  transform: rotate(3600deg);
  transition-duration: 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  width: 5px;
  height: 5px;
  background: purple;
  display: inline-block;
  border-radius:50%;
  outline: none;
  color:#fff;
}

#container
{
  width:550px;
  height:150px;
  border:1px solid black;
  margin:0 auto;
}
