.App {
  text-align: center;
  
}
body{
  background-image: url("images/orange.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.hover{
  width:223px;
  height:223px;
  background: #eee;
  float: left;
  border:2px solid black;
  margin:1px;
}
.hover1{
  transform: rotateY(180deg);
  background: transparent;
  transition:all 3s;
  width:223px;
  height:223px;
  float: left;
  border:2px solid black;
  margin:1px;
}
input[type=text], input[type=password] {
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  box-sizing: border-box;
  outline:none;
}
button{
  width: 20%;
  padding: 12px 20px;
  margin: 8px 25px;
  display: inline-block;
  box-sizing: border-box;
  outline:none;
  color: white;
  background: purple;
}


.mymodal{
  position: relative;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #999;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: 6px;
  outline: 0;
  -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
  box-shadow: 0 3px 9px rgba(0,0,0,.5);
  max-width: 600px;
  margin: 0 auto;
  padding:25px;
}
.mymodalh1{
  color:greenyellow;
  box-shadow: 0 36px 21px 0;
}

.mymodalh2{
  color:#c72a1a;
  box-shadow: 0 36px 21px 0;
}

.modal{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  padding:120px 20px;
  background: rgba(51, 49, 49, 0.73);
  display: none;
}
.modal1{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  padding:120px 20px;
  background: rgba(51, 49, 49, 0.73);
  display: block;
}
