.App {
  text-align: center;
  
}

.App1{
  clear: both;
  text-align: left;
}
.chek
{
  width: 30px;
  height: 30px;
  vertical-align: middle;
  text-align: left;
}
.hover{
  width:223px;
  height:223px;
  background: #eee;
  float: left;
  border:2px solid black;
  margin:1px;
  transition:all 3s;
}
.hover1{
  transform: rotateY(180deg);
  background: transparent;
  transition:all 3s;
  width:223px;
  height:223px;
  float: left;
  border:2px solid black;
  margin:1px;
}
.search {
  width: 0;
  padding: 10px 0;
  margin: 8px 0;
  display: inline-block;
  box-sizing: border-box;
  outline:none;
  transition: all 2s;
  border-top: none;
  border-right: none;
  border-left: none;
  border-color: rgba(123, 8, 131, 0.4);
}

.search1 {
  width: 350px;
  padding: 10px 0;
  margin: 8px 0;
  display: inline-block;
  box-sizing: border-box;
  outline:none;
  transition: all 2s;
  border-top: none;
  border-right: none;
  border-left: none;
  border-color: rgba(123, 8, 131, 0.4);
}
.hidbat1{
  display: none;
}
.hidbat{
  width: 60px;
  padding: 12px;
  margin: 8px 25px;
  display: inline-block;
  box-sizing: border-box;
  outline:none;
  color: white;
  background: purple;
}
.container{
   width:300px;
   height: 200px;
   border:1px solid purple;
 }
.container1{
  width:300px;
  height: 200px;
  border:1px solid purple;
  display: none;
}
button{
  width: 20%;
  padding: 12px 20px;
  margin: 8px 25px;
  display: inline-block;
  box-sizing: border-box;
  outline:none;
  color: white;
  background: purple;
}


.mymodal{
  position: relative;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #999;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: 6px;
  outline: 0;
  -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
  box-shadow: 0 3px 9px rgba(0,0,0,.5);
  max-width: 600px;
  margin: 0 auto;
  padding:25px;
}
.mymodalh1{
  color:greenyellow;
  box-shadow: 0 36px 21px 0;
}

.mymodalh2{
  color:#c72a1a;
  box-shadow: 0 36px 21px 0;
}
.divshow{
  width: 50px;
  height: 50px;
  background: orange;
  border: 2px solid black;
}
.left{
  margin-left: 100% !important;
  width: 50px;
  height: 50px;
  background: orange;
  border: 2px solid black;
  transition: margin-left 7s;
}
.left1{
   margin-left:100% !important;
   width: 50px;
   height: 50px;
   background: orange;
   border: 2px solid black;
   transition: margin-left 6s;
 }

.left2{
  margin-left:100% !important;
  width: 50px;
  height: 50px;
  background: orange;
  border: 2px solid black;
  transition: margin-left 5s;
}
.block{
  display: block;
  width: 100%;
  overflow: hidden;
  padding: 50px 0;
}
.none{
  display: none;
}
.modal{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  padding:120px 20px;
  background: rgba(51, 49, 49, 0.73);
  display: none;
}
.modal1{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  padding:120px 20px;
  background: rgba(51, 49, 49, 0.73);
  display: block;
  text-align: center;
}
